APP_ENV=dev
JWT_SECRET=change_me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

MODEL_PROVIDER=vertex
VERTEX_PROJECT_ID=your-project
VERTEX_LOCATION=us-central1

EMBEDDING_MODEL=text-embedding
GEN_MODEL=gemini

VECTOR_INDEX_PATH=./app/data/faiss.index
DOC_STORE_PATH=./app/data/docstore.json
